<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
<appSettings>
  <add key="envVarsSchema" value="somevalue" />
</appSettings>
    <system.webServer>
        <handlers>
          <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        <httpCompression>
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <!-- Add more specific mime types as needed -->
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <!-- Add more specific mime types as needed -->
            </staticTypes>
            <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
            <dynamicCompression>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <!-- Add more specific mime types as needed -->
            </dynamicCompression>
        </httpCompression>
        <rewrite>
            <rules>
                <rule name="mysite">
                    <match url="/*" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
         <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="104857600" /> <!-- Maximum allowed request size: 100MB -->
                <fileExtensions>
                    <add fileExtension=".json" allowed="true" />
                    <!-- Add more allowed file extensions as needed -->
                </fileExtensions>
            </requestFiltering>
            <httpProtocol>
                <customHeaders>
                    <remove name="Server" /> <!-- Remove server header -->
                    <add name="X-Content-Type-Options" value="nosniff" />
                    <add name="X-Frame-Options" value="SAMEORIGIN" />
                    <add name="X-XSS-Protection" value="1; mode=block" />
                </customHeaders>
            </httpProtocol>
            <staticContent>
                <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
            </staticContent>
        </security>
    <httpErrors existingResponse="PassThrough" />
       
    </system.webServer>
</configuration>